
body {
  background: #ff8c82;
  background: linear-gradient(90deg, #ff8c82 0%, #8f3e66 100%);
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #fff;
}

/* Header Styles */
.page_header {
position: fixed;
top: 0;
width: 100%;
z-index: 5;
background-color: #752441;
height: 40px;
text-align: center;
padding-top: 25px;
}

/* nav bar  */
ul{
display:flex;
justify-content: flex-end;
padding-left: 0;
margin: 0;
text-align: right;
}


li{
margin-right: 20px;
list-style: none;
}

a{
text-decoration:none;
color: white;
font-weight: bold;
font-size: 1.5em;
}

a:hover{
background-color:#ff8c82;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
  color: white;
}

/* body sections */
h2 {
  border-bottom: 1px solid black;
  font-family: 'Oxygen', Sans-Serif;
  font-size: 3em;
  color: #752441;
}

p {
  line-height: 1.6em;
  color: #eee;
}


.main_container {
  margin: 10vh 1em 10vh;
}

.main_header {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  min-height: 80vh;
}

.landing_page {
padding: 1em;
text-align: left;
}



/* Footer Styles */
.page_footer {
  background: #752441;
  display:flex;
  height: 40px;
  color: #fff;
 align-items: center;
 justify-content: center;
  /* padding-top: 5px;
  padding-bottom: 5px; */
}

.page_footer p{
  color: #fff;
  font-size: 1.5em;

}

/* media screens  */
@media only screen and (min-width: 35em){
  .landing_page {
      max-width: 50em;
      padding: 4em;
  }
}

@media only screen and (min-width: 35em){
h1 {
    font-size: 5em;
    margin: 2em 4rem 1em;
}
}